<%- include("partials/header"); %>

<div class="App">
      <h1 class="bluebg">| <span class="orangered">Minecraft Server</span> | <span class="blue">'ThatBot.Ninja'</span></h1>
      <h2 class="graybg">|  <span class="orange">Better Pack your Lunch Before Your Friends</span> | <span class="yellowtextonly">Find Out!</span></h2>
      <hr />
      <div class="container">
        <span class="box"><h1 class="yellow inline padded">PLAY MINECRAFT ON OUR SERVERS</h1></span>
      </div>
      <img class="padded" src="./img/pickaxe.png" height="125" width="125" />
      <p>
        <strong class="fontsize">While your friends are all out having fun, you have the awesome option to play <span class="blue font-size">Minecraft</span>.
        <br />
        Have fun so you don't have to worry about your friends.</strong>
        <br />
      </p>
      <hr />
      <h3 class="yellow inline">Do You  Want To Play?</h3>
      <br />

      <a class="btn btn-warning btn-lg padbutton" href="/instructions">Click Here!</a>

      <p class="padbottom marged">
        Join our Discord Server <strong>@</strong> <a href="https://discord.gg/HR9jCRgQ" alt="Join Our Discord Server">Join our Discord</a>
      </p>
      <p>
        ❤️❤️❤️
        <br />
        <strong class="blue fontsize">Make friends online</strong>
      </p>
      <p>
        However life goes, it doesn't matter if you have friends because you should be best friends with yourself,
        <br />
        to keep yourself entertained.
        <br />
        As long as you can do that then you can choose anybody to hang with.
      </p>
      <p>
        <strong>Join our servers</strong> and find new friends, or invite your friends online.
      </p>
      <hr />
      <p>
        ❤️❤️❤️
        <br />
        <strong class="blue fontsize">All you need is the server address and to read the instructions page</strong>
      </p>
      <p>
        <a class="red" href="/instructions">Read the Instructions on how to Connect to our Server</a>
      </p>
      <hr />
      <div class="orangebg padded">
        <!-- Empty Div -->
      </div>
      <p class="goldbg nomargin padded">
        <strong>You can use</strong> <em><span class="blue fontsize padded">"thatbot.ninja:25555"</span></em> <strong>in the <strong>server IP field</strong> when you add a server
        <br />
        in <strong>Multi-Player</strong> when you <strong>Add a Server</strong> in your game in <span class="blue fontsize"><em>Minecraft</em></span>.</strong>
      </p>
      <div class="graybg padded">
        <iframe src="https://giphy.com/embed/WtDaSUB8GDiRW" width="357" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/minecraft-WtDaSUB8GDiRW">via GIPHY</a></p>
      </div>
      <div class="yellow">
        <strong>Do you have what it takes to battle</strong> your surroundings and <strong>keep an eye out with other players</strong>!
        <br />

        Make <strong>powerfull alliances</strong> and trade in your goods for more comfort <strong>to win together</strong>.
        <br />
        This <strong>epic game of Minecraft</strong> you can't afford to not play on our <strong>Minecraft servers</strong>!
      </div>
      <h2 class="whitebg">Put "<span class="blue">thatbot.ninja:25555</span>" in the "<span class="orange">Add Server</span>" box in "<span class="orangered">Minecraft (Java Edition)</span>" and connect.</h2>
      If you get server is hibernating connect to it, so that it will start, then wait 60 seconds for it to come online and you can join.
      <div class="alert alert-warning" role="alert">
        Bring Fun Into Your World With Minecraft! ⭐ <a href="https://www.minecraft.net" alt="Minecraft website" target="_blank">Minecraft Developer's Website</a> ⭐
      </div>
      <img class="roundedcorners" src="./img/Minecraft.jpg" width="600" height="400" />
      <br />
      <img class="padded" src="./img/pickaxe2.png" height="125" width="125" />
      <p class="yellow">Join Our <strong>&lt;Mailing List&gt;</strong> for Offers and Promotions!</p>
      <footer>
        <p>
          <sub>Icons made by <a href="https://www.flaticon.com/authors/aldo-cervantes" title="Aldo Cervantes">Aldo Cervantes</a> &amp; <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></sub>
        </p>
        <br />
        Copyright(&copy;)(2021) All Rights Are Reserved.
      </footer>
    </div>

<%- include("partials/footer"); %>
