<%- include("partials/header"); %>

<div class="App">
    <h1 class="bluebg">| <span class="orangered">Minecraft Server</span> | <span class="blue">'ThatBot.Ninja:25555'</span></h1>
    <h2 class="graybg" style={{ backgroundImage: "url(/placeholder.png)" }}>|  <span class="orange">Better Pack your Lunch Before Your Friends</span> | <span class="yellowtextonly">Find Out!</span></h2>
    <hr />
    <h3>Instructions For Connecting To Our Server</h3>
    <strong>@</strong> <h3 class="inline">Server Address: <span class="blue"><em>thatbot.ninja:25555</em></span></h3>
    <p>
      <img src="servers-img.png" height="90" width="90" alt="Servers Icon" />
    </p>
    <h1 class="orangered">To connect you need to do the following:</h1>
    <p>(Because our server might be hibernating if noone has connected)</p>
    <hr />
    <ul>
      <li class="block">⭐ You will need to <strong>add 1 server</strong></li>
      <li class="block">⭐ Open the game and go to <strong>Multi-Player</strong> then <strong>Add the Server there</strong>.</li>
      <li class="block">⭐ In the address box <strong>type the following address</strong>: <span class="blue">thatbot.ninja:25555</span></li>
      <li class="block">⭐ Use that address &amp; port to <strong>start the server</strong> if it is hibernating.</li>
      <li class="block">⭐ The server you've added is the one you are going to <strong>connect</strong> to.</li>
      <li class="block">⭐ The way it works is you <strong>1st connect to the server to wake it up</strong>. Second, after which you have to wait about 30-50 seconds, after which you can connect to the server.</li>
      <li class="block">⭐ You can <strong>refresh the list of servers</strong> in your game, and if you've 1st connected to server to wake it then <strong>wait for about 40 seconds</strong>, then after you refresh you should see the server come online.</li>
      <li class="block">⭐ The "<strong>Server is Hibernating</strong>" disappears on the server if you press <strong>Refresh</strong>, then the connection stats show green bars behind the server showing the latency.</li>
    </ul>
    <hr />
    <p><h1 class="orangered">(Log in and have fun)</h1></p>
    <h3>
      <span class="blue">
        Finally... As the last step...
        <br />
        You have to connect to the server to Log in and play the game.
      </span>
    </h3>
    <hr />
    <p>When there is no activity on the server for 60 seconds (0 people connected) it will hibernate.</p>
    <hr />
    <p>❤️❤️❤️</p>
    <img src="./img/server/server-1.png" alt="Server -1-" />
    <p class="blue">The starter server has the <span class="red">"<strong>:</strong>25555"</span> added to the server name. Don't forget the colon '<span class="red"><strong>:</strong></span>' ...</p>
    <img src="./img/server/server-2.png" alt="Issue Wake Up" />
    <p class="blue">
      When the server is hibernating you can't connect to <span class="red">thatbot.ninja</span>. First wake it up!
      <br />
      Do so by connecting to the server first, then you get an error message, so click on "Go Back" and wait for about 30-40 seconds. Then finally connect to the server: <span class="red">thatbot.ninja:25555</span>.
    </p>
    <img src="./img/server/server-3.png" alt="Server is Hibernating" />
    <p class="blue">
      When the server is ready to log in and when you press "Refresh", it should look like the picture above.
      <br />
      Then log into the <span class="red">thatbot.ninja</span> server. See the green bars behind it?
    </p>
    <img src="./img/server/server-4.png" alt="Server is Warming Up" />
    <p class="blue">Server is warming up.</p>
    <img src="./img/server/server-5.png" alt="Server is Ready" />
    <p class="blue">Server is ready.</p>
    <hr />
    <footer>
        <p>
          <sub>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></sub>
        </p>
    <br />
    Copyright(&copy;)(2021) All Rights Are Reserved.
    </footer>
</div>

<%- include("partials/footer"); %>
