<%- include("partials/header"); %>

<div class="App">
    <h1 class="bluebg">| <span class="orangered">Minecraft Server</span> | <span class="blue">'ThatBot.Ninja'</span></h1>
    <h2 class="graybg" style={{ backgroundImage: "url(/placeholder.png)" }}>|  <span class="orange">Better Pack your Lunch Before Your Friends</span> | <span class="yellowtextonly">Find Out!</span></h2>
    <hr />
    <h2>Screenshots</h2>
    <p>On this page we have posted some screenshots from while playing on our server:</p>
    <img src="./img/screenshots/screenshot1.png" height="1008" width="958"  alt="Screenshot -1-" />
    <br />
    <img src="./img/screenshots/screenshot2.png" height="1008" width="958" alt="Screenshot -2-" />
    <br />
    <img src="./img/screenshots/screenshot3.png" height="1080" width="1920" alt="Screenshot -3-" />
	<br />
    <img src="./img/screenshots/screenshot4.png" height="872" width="1749" alt="Screenshot -4-" />
    <hr />
</div>

<%- include("partials/footer"); %>
